h1 {
  text-align: center;
  font-family: 'freshman';
  font-size: 50px;
  border-style: none;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-left: 15px;
}

@font-face{
  font-family: 'freshman';
  src: url('../fonts/freshman.ttf');
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
    margin-left: 1.2cm;
    margin-right: 1.2cm;
    border-style: none;
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
}

div {
    padding: 10px;
}

.SocialMedia{
    max-width: 1.1in;
    max-height: 1.1in;
    min-width: .25in;
    min-height: .25in;
    border-style: none;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.banner {
  text-align: center;
  font-family: 'freshman';
  color: white;
  min-height: 240px;
  background-image: url("../images/commonwealth.jpg");
  padding-top: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.banner h1 {
  font-size: 55px;
  text-shadow: 2px 2px #000000;
}

.top-caption {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.info {
  padding-left: 50px;
}

.info p{
  padding-bottom: 15px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bottom-info h4 {
  text-align: center;
}

.sponsor-logos {
  text-align: center;
}

.sponsor-logos img{
  border-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 15px;
  margin-left: 15px;
}

.bottom-info {
  padding-left: 50px;
  padding-right: 50px;
}

/*The slideshow and jss classes were exported from http://www.jssor.com/demos/simple-fade-slideshow.slider*/
/*Alterations were made to the code to get the images in their correct format*/
.SlideShow img{
  padding:0px;
  margin:0px;
  font-family:'Open Sans',sans-serif,arial,helvetica,verdana;
  background-clip: padding-box;
  border-radius: 20px;
  z-index: 0;
}

.slides{
  cursor:default;
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../img/a12.png') no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
